---
interface Props {
  src: string
  width: string
  height: string
  title: string
  videoId: string
}

const {src = "https://www.youtube.com/@see-enso" , width = "640px", height = "360px", title = "Наш YouTube", videoId = ""} = Astro.props

---

<figure class="commercial__card" data-video-id={videoId}>
  <img class="commercial__image" {src} {width} alt={title}/>
  <figcaption class="commercial__title" aria-label={title}><button><span class="deco-play"></span></button></figcaption>
</figure>

<style is:global define:vars={{cardWidth: width, cardHeight: height}}>
  .commercial__card {
    display: grid;
    grid-template-areas: "banner";
    min-width: min(32em, 90%);
    border: 2px solid var(--color-accent);
    border-radius: 1.125em;
    overflow: clip;
  }

  .commercial__image {
    --c-edges: rgba(0, 0, 0, 0.35);
    --c-center: rgba(255, 255, 255, 1);
    grid-area: banner;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    mask-image: linear-gradient(65deg, var(--c-edges), var(--c-center) 40%, var(--c-center) 60%, var(--c-edges));
    mask-size: 100%;
    mask-repeat: no-repeat;
    filter: contrast(1.1);
  }

  .commercial__title {
    --c-backdrop: hsla(258, 80%, 12%, 0.75);
    grid-area: banner;
    place-self: center;
    width: 18%;
    aspect-ratio: 1;
    background-color: var(--c-backdrop);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    z-index: 1;
    overflow: clip;
    box-shadow: 0.5em 0.5em 1.5em var(--c-backdrop);

    button {
      display: block grid;
      place-content: center;
      width: 100%;
      aspect-ratio: 1;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover .deco-play {
        mix-blend-mode: color-dodge;
      }
    }
  }

  .deco-play {
    --color-play: rgb(223, 222, 224);
    width: 30px;
    aspect-ratio: 1;
    background-color: var(--color-play);
    clip-path: polygon(25% 0, 25% 100%, 100% 50%);
  }
</style>