---
interface Props {
  
  imageUrl: string
  imageDescription?: string
  caption: string
  visibleCaption?: boolean
  width: number
  height: number
}

const {imageUrl, imageDescription="", caption="", visibleCaption=false, width, height} = Astro.props
---

<figure class="logo">
  <img class="logo__image" src={imageUrl} alt={imageDescription} width={width} height={height}>
  {visibleCaption && <figcaption class="logo__caption">{caption.trim()}</figcaption>}
  <a href="#" aria-label="На початок головної сорінки SeeEnso Digital Agency" data-link-logo></a>
</figure>

<style is:global>
  .logo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-inline-end: auto;
  }

  .logo__image {
    --width: 42px;
    /* width: clamp(2.625rem, 1.01rem + 5.44vw, 4.75rem); */
    width: var(--width);
    aspect-ratio: 1;
  }

  .logo > a[data-link-logo] {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media (width > 48em) {
    .logo__image {
      --width: 48px;
    }
  }
  @media (width > 64em) {
    .logo__image {
      --width: 76px;
    }
  }
</style>