---
/* @jsxImportSource astro */
import type { ISEService } from '@data/services';

interface Props {
  service: ISEService;
  idx: number;
}

const {service, idx} = Astro.props
const tabDetailsIdx = String(idx + 1).padStart(2,"0")
const {duration, price, previewUrl, variation} = service
const detailsCount = variation.length
const firstElmentDelay = 80
---

<div class="service__details" data-tab-details={tabDetailsIdx}>
    <div class="details__info-group">
        <ol class="details__list">
            { variation?.map(({v, extra}, idx) => (
                  <li class="list__item" style={`--animation-delay: ${firstElmentDelay*idx}ms`}>
                      <span class="main">{v}</span>
                      {/* {extra && <span class="extra">{extra}</span>} */}
                  </li>
              ))
            }
        </ol>

        <div class="service__price" style={`--animation-delay: ${firstElmentDelay * (detailsCount + 1)}ms`}>
            <span>від {price}$</span>
        </div>

        <div class="service__duration accent" style={`--animation-delay: ${firstElmentDelay * (detailsCount)}ms`}>
            <span>{duration} днів</span>
        </div>
    </div>

    <picture class="service__thumb">
        <img 
            class="thumb__image" 
            src={previewUrl}
            alt="photography"/>
    </picture>
</div>

<style is:global>
  .service__details {
      display: none;
      /* grid-template-columns: 1fr auto; */
      position: relative;
      isolation: isolate;
  }

  /* .service__details > * {
    align-self: center;
  } */

  .details__info-group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr auto auto 1fr 1fr;
  }

  .details__info-group::before {
    grid-column: 1 / -2;
    grid-row: 1 / 5;
    content: '';
    position: relative;
    z-index: -2;
    display: block;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px solid var(--swatch-purple-500);
    margin-inline-start: -3.5em;
  }

   .details__list {
    grid-column: 1 / -2;
    grid-row: 2 / 3;
    align-self: center;
    display: grid;
    gap: clamp(0.75rem, 0.3036rem + 2.2321vw, 2.3125rem);
    font-size: clamp(0.875rem, 0.7519rem + 0.4145vw, 1.125rem);
    counter-reset: service-items;
  }

  .list__item {
    --gap-decimal-marker: clamp(0.5rem, 0.2857rem + 1.0714vw, 1.25rem);
    display: grid;
    grid-template-columns: auto 1fr;
    place-content: start;
    column-gap: var(--gap-decimal-marker);
  }

  .list__item::before {
    grid-column: 1/2;
    counter-increment: service-items;
    content: counter(service-items, decimal-leading-zero) ".";
    display: inline-block;
  }

  .list__item > .main {
    grid-column: 2/3;
  }

  .list__item > .extra {
    grid-column: 2 / 3;
    grid-row: 2/3;
    font-size: 0.8em;
  }

  .service__duration,
  .service__price {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    padding-inline: 1.25em;
    background-color: var(--swatch-neutral-900);
    border-radius: 100%;
    box-shadow: var(--shadow-small);
  }

  .service__price {
    grid-column: 1/3;
    grid-row: 4/6;
    align-self: center;
    justify-self: center;
    font-size: clamp(0.875rem, 0.6587rem + 0.7286vw, 1.125rem);
  }

  .service__duration {
    grid-column: 2/4;
    grid-row: 4/6;
    align-self: center;
    justify-self: center;
    margin-block-start: -3.5em;
    font-size: clamp(0.75rem, 0.5337rem + 0.7286vw, 1rem);
  }

  .service__thumb {
    /* justify-self: end; */
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translateX(20%) translateY(-50%);
    width: 200px;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px solid var(--swatch-purple-500);
    overflow: hidden;
  }

  .thumb__image {
      object-fit: cover;
      object-position: center;
  }

</style>