---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  mate: CollectionEntry<'mates'>
  startAngle: string
}

const {startAngle} = Astro.props
const { fullname, position, image, extra } = Astro.props.mate.data

const endAngle = `${parseInt(startAngle) + 359}deg`;
const alt = `${fullname}, ${position}`
---

<figure class="team__card" tabindex="-1">
  <Picture  class='picture__image' 
            src={image} alt={alt}
            width={300} height={300}
            formats={['avif', 'webp']}
            fallbackFormat='jpg'
            densities={[1.5, 1.8, 2, 3]}
            pictureAttributes={{class: "card__picture"}}
            />
  <figcaption class="card__caption">
    <h3 class="card__name">{fullname}</h3>
    <p class="card__position">{position}</p>
    { extra?.info && <p class="card__extra">{extra.info}</p>}
    { extra?.exp && <p class="card__extra">{extra.exp}</p> }
  </figcaption>
</figure>

<style is:global define:vars={{startAngle, endAngle}}>
@property --r-factor {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --endAngle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.card__picture {
  display: grid;
  grid-template-areas: 'avatar';
  width: fit-content;
}

.card__picture::before,
.card__picture::after {
  content: '';
  grid-area: avatar;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform-origin: center;
  transform: 
    scale(var(--s-factor, 1)) 
    rotateZ(var(--r-factor, 0deg));
  animation: hidSpinning 100s infinite linear alternate;
  /* animation-timeline: view(); */
}

.card__picture::before {
  --s-factor: 1.125;
  --r-factor: var(--startAngle);
    background-image: url('/images/team/hid-inner-opt.svg');
    animation-direction: alternate-reverse;
}
.card__picture::after {
  --s-factor: 1.175;
  --r-factor: calc(-1 * var(--startAngle));
    background-image: url('/images/team/hid-outer-opt.svg');
}

.card__picture:hover .picture__image {
  /* transform: scale(1.1); */
}

.picture__image {
  grid-area: avatar;
  width: clamp(140px, 20vw , 300px);
  aspect-ratio: 1;
  border-radius: 100%;
  transition: all 350ms ease;
}

.card__caption {
  margin-block-start: 1rem;
}
.card__name {
  --f-size: var(--typo-size-300);
  --f-weight: 400;
    font-size: var(--f-size, 1rem);
    font-weight: var(--f-weight);
}

.card__position, 
.card__extra {
  --text-color: var(--swatch-neutral-350);
  --f-size: var(--typo-size-250);
  --f-line: var(--typo-line-200);
    color: var(--text-color);
    font-size: var(--f-size);
    line-height: var(--f-line);
    max-inline-size: 20ch;
    text-wrap: balance;
    margin-block-start: .35em;
}

.card__extra {
  /* max-inline-size: 25ch; */
  /* max-inline-size: clamp(8.75rem, 3.2661rem + 20.6452vw, 18.75rem); */
  /* max-inline-size: clamp(8.125rem, 3.6761rem + 16.7488vw, 18.75rem); */
  max-inline-size: clamp(9.375rem, 5.4495rem + 14.7783vw, 18.75rem);
  text-wrap: pretty;
  opacity: .5;

  @media (width <= 20rem) {
    max-inline-size: 35ch;
  }
}

@media screen and (width > 48em) {
.card__name {
  --f-size: var(--typo-size-600);
}

.card__position {
  --f-size: var(--typo-size-400);
}
}

@keyframes hidSpinning {
  to {
    --r-factor: var(--endAngle);
  }
}
</style>